
<p>Aw man, you broke the joke by using a different browser! Or maybe you tried to fool the script by changing your user agent... that won't do; I'm checking several different navigator properties at the same time.</p>

<p>If this is a legitimate browser, please help me make this article funnier! Write to <a href="mailto:zeh@zehfernando.com">zeh@zehfernando.com</a> with the following information:</p>

<ul>
    {{#navigatorProps}}
    <li>{{key}}: {{value}}</li>
    {{/navigatorProps}}
</ul>

<p>OR, you can fix it yourself! The code for the article <a href="https://github.com/zeh/schizo.js">can be found over at GitHub</a>. Feel free to change it and do a pull request.</p>

<p>Thanks!</p>

